html {
    font-size: 22px;
    font-family: $default-font-family;
    color: $text-color;
    text-align: center;
  }
  
  body {
    width: 100%;
    margin: 0;
    background-color: $main-background-color;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
  }