#contacts {
    height: 200px;
    h2 {
        padding-top: 10px;
    }
}
 
  footer {
    margin-top: $top-element-margin;
    width: 100%;
    margin-left: 20px;
    text-align: left;
    padding-bottom: 25px;
}