#future {
    margin-top: $top-element-margin;
    max-width: 1000px;
    h4 {
        padding: 10px 0 10px 0;
      }
  }

.future-img-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
  }
  
.future-img {
    width: 300px;
    height: 200px;
    margin: 10px 0 10px 0;
    transition: border-radius 0.5s linear;
    &:hover {
    border-radius: 10px;
    }
}